[core]
        editor = emacs
        pager = lv -c
        quotepath = false
[user]
        name = june29
        email = june29.jp@gmail.com
[color]
        ui = auto
[alias]
        st   = status
        df   = diff
        dfc  = diff --cached
        aa   = add --all
        ap   = add -p
        ci   = commit
        co   = checkout
        b    = branch
        g    = grep -n
        pl   = pull
        pr   = pull --rebase
        cp   = cherry-pick
        fp   = fetch --prune
        gsub = git-gsub
[github]
        user = june29
[push]
        default = simple
[ghq]
        root = ~/ghq
