.atom/.apm/_cacache/
.atom/.apm/anonymous-cli-metrics.json
.atom/.apm/index*
.atom/.atom-socket-secret-*
.atom/blob-store
.atom/recovery
.config/configstore/update-notifier-npm.json
.config/gcloud
.config/karabiner/automatic_backups/
.config/Microsoft\\VisualStudio Services/
.docker
.emacs.d/tramp
.gitconfig.secret
ac-comphist.dat
auto-save-list
backups
