.gitconfig.secret
backups
auto-save-list
ac-comphist.dat
.emacs.d/tramp
.atom/.apm/_cacache/
.atom/blob-store
.atom/recovery
.atom/.apm/anonymous-cli-metrics.json
.atom/.apm/index*
.atom/.atom-socket-secret-*
.config/configstore/update-notifier-npm.json
