[include]
  path = ~/.gitconfig.secret
[core]
  pager = lv -c
  quotepath = false
  editor = cursor --wait
[pager]
  log  = diff-highlight | lv
  show = diff-highlight | lv
  diff = diff-highlight | lv
[user]
  name = juneboku
  email = juneboku@gmail.com
[color]
  ui = auto
[alias]
  st   = status
  df   = diff
  dfc  = diff --cached
  ap   = add -p
  ci   = commit
  co   = checkout
  b    = branch
  g    = grep -n -I
  pl   = pull
  pr   = pull --rebase
  cp   = cherry-pick
  gsub = git-gsub
[github]
  user = juneboku
[push]
  default = simple
[fetch]
  prune = true
[ghq]
  root = ~/ghq/src
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[diff]
  compactionHeuristic = true
[gpg]
  program = gpg
[commit]
  gpgsign = true
[init]
  defaultBranch = main
