"*":
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    softWrap: true
    fontFamily: "menlo"
    lineHeight: 1.4
    preferredLineLength: 300
    autoIndentOnPaste: false
    fontSize: 12
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "exception-reporting":
    userId: "8a217b7e-aa24-1571-4b5d-d5dc2143d7a0"
  welcome:
    showOnStartup: false
  "japanese-wrap":
    characterWidth: {}
  "wercker-status":
    Username: ""
    Password: ""
    Interval_Minutes: 2
  "git-projects": {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
