"*":
  "atom-material-ui":
    tabs: {}
    treeView:
      compactList: true
  "auto-encoding":
    ignorePattern: "md$"
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "menlo"
    fontSize: 10
    invisibles: {}
    lineHeight: 1.4
    preferredLineLength: 300
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "8a217b7e-aa24-1571-4b5d-d5dc2143d7a0"
  "git-projects": {}
  "japanese-wrap":
    characterWidth: {}
  react: {}
  welcome:
    showOnStartup: false
  "wercker-status":
    Interval_Minutes: 2
    Password: ""
    Username: ""
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".coffee.jsx.source":
  editor:
    preferredLineLength: 300
".js.jsx.source":
  editor:
    preferredLineLength: 300
