/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

@tab-bar-width: 280px;
@tab-height: 2.4rem;

.tree-view {
  font-family: "Menlo";
  font-size: 11px;

  // For 'Atom Material' theme
  .list-nested-item {
    .list-item {
      height: 1.8rem;

      .name {
        line-height: 2.2rem;
      }
    }
  }
}

// style the background and foreground colors on the atom-text-editor-element
// itself
atom-text-editor {
  margin-right: @tab-bar-width;
  font-family: "Migu 1M";
  font-size: 20px;
}

// To style other content in the text editor's shadow DOM, use the ::shadow
// expression
atom-text-editor::shadow .cursor {
}

atom-pane {
  ul.tab-bar {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: @tab-bar-width;
    height: 100%;
    max-height: 100%;

    li.tab {
      width: @tab-bar-width;
      height: @tab-height;
      line-height: @tab-height;

      .title {
        width: @tab-bar-width;
        line-height: @tab-height;
        margin-top: 0;
        padding-top: 0;
      }

      .close-icon {
        top: 16px !important;
        line-height: @tab-height;
      }

      &::after {
        left: 274px;
        width: 6px;
        height: @tab-height;
      }
    }
  }
}
