/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.tree-view {
  font-family: "Menlo";
  font-size: 11px;
}

// style the background and foreground colors on the atom-text-editor-element
// itself
atom-text-editor {
  font-family: "Migu 1M";
  font-size: 13px;
}

// To style other content in the text editor's shadow DOM, use the ::shadow
// expression
atom-text-editor::shadow .cursor {

}

.tab-bar {
  position: absolute;
  right: 0;
  width: 240px;
  height: 100%;
  padding: 0;
  background: #1C1F21;
  border-left: 1px solid #aaa;
  z-index: 1;
  -webkit-flex-direction: column;

  .tab {
    top: 0;
    -webkit-flex: 0 0 auto;
    margin: 0;
    max-width: none;
    padding: 0 30px 0 10px;

    &.active {
      -webkit-flex: 0 0 auto;
      width: auto;
    }

    .title {
      padding-right: 0px;

      &:before {
        display: inline-block;
        width: 20px;
      }
    }

    .close-icon {
      padding-right: 10px;
    }
  }

  .tab.active {
    height: 60px;
    line-height: 60px;

    .close-icon {
      top: 17px;
    }
  }

  .tab.modified:not(:hover) {
    .close-icon {
      top: 27px;
      right: 7px;
    }
  }

  .tab:after {
    content: none;
  }
}
